*{
  font-family: Georgia, serif;
  overflow-x: hidden;
  text-align: center;
  overflow-y: visible;
}

body{
  background-color: #F15A29;
  margin: 0;
}

/*icons*/
.arrow{
  border: solid #F15A29;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  margin: 5px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 0px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

header {
  background-image: url("./images/backgrounds/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 945px;
  width: 100%;
  overflow-y: hidden;
}
.menu_ham{
  width: 100px;  
  padding: 50px 100px;
}
.menu_ham div{
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding-top: 30px;
  padding-left: 50px;
}

.header_content > .head_text {
  color: white;
  font-size: 45px;
  font-weight: 100;
  width: 700px;
  text-align: center;
  word-spacing: 13px;
  letter-spacing: 2px;
  padding-left: -3px;
}
.header_content > img {
  width: 460px;
  height: 460px;
}
.header_content>.head_text span{
  font-weight: 600;
}

/* takes foodtop section */
.takes {
  width: 100%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  font-size: 25px;
  text-transform: capitalize;
  color: white;
  background-color: #ffffff;
}
.takes>.f-top p{
  font-size: 40px;
  font-style:italic;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-top: -5px;
  margin-left: 5px;
}
.takes>.f-2-top p{
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-top: -5px;
  margin-left: 5px;
}

.takes > .two-img{
  background-color: #F15A29;
  display: flex;
  flex-direction: column;
}
.takes > .two-img >.happy{
  background-color: white;
  color: black;
  height: 50%;
}
.takes > .two-img>.party{
  background-color: #F15A29;
  height: 50%;
}
.takes > .breako{
  background-image: url("./images/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.takes > .lunch{
  background-image: url("./images/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}
.takes > .dinner{
  background-image: url("./images/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#row{
  float: left;
  width: 25%;
  height: 300px;
}

.takes::after{
  content: "";
  display: table;
  clear: both;
}

/* food section */
.food_desc {
  background-color: white;
  text-align: center;
}

.food_desc > .desc {
  margin: 80px 10px 10px 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.food_desc > .desc >.col_image {
  border: 15px solid white;
  box-shadow: 0px 0px 10px 1px;
  width: 480px;
  height: 390px;
}
.food_desc > .desc >.col_image img {
  object-fit: cover;
  margin-left: -10px;
}

.food_desc > .desc >.col_image img#fast-food2 {
  margin-top: -4px;
  margin-bottom: -4px;

}
.food_desc>.desc>.p_desc {
  width: 400px;
  text-align: left;
  padding: 0px 50px 50px 40px;
  margin-left: 25px;
  font-size: 19px;
}

.food_desc>.desc>.p_desc h3 {
  text-align: left;
  font-size: 28px;
}
.food_desc>.desc>.p_desc h4 {
  text-align: left;
  font-size: 20px;
}
.food_desc>.desc>.p_desc p {
  text-align: left;
  margin-bottom: 30px;
}
.food_desc>.desc>.p_desc button {

  border: 1px solid #F15A29;
  color: #F15A29;
  background-color: #ffffff;
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.food_desc>.desc>.p_desc button:hover {
  background-color: #F15A29;
  color: white;
  padding: 15px 32px;
}

/* for drinks */
#desc_rev{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 90px;
}
.food_desc > .desc >.row_image img {
  object-fit: cover;
  margin-left: -10px;
  width: 350px;
}

.food_desc > .desc >.row_image {
  border: 15px solid white;
  box-shadow: 0px 0px 10px 1px;
  width: 480px;
  height: 390px;
  display: flex;
  flex-direction: row;
}

.food_desc>.desc>#p_desc_rev {
  text-align: right;
}
.food_desc>.desc>#p_desc_rev h3 {
  text-align: right;
  font-size: 28px;
}
.food_desc>.desc>#p_desc_rev h4 {
  text-align: right;
  font-size: 20px;
}
.food_desc>.desc>#p_desc_rev p {
  text-align: right;
  margin-bottom: 30px;
}

/*types of foods*/
.scr_fast_food{
  background-image: url("./images/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 20px;
  color: #F15A29;
}
.scr_fast_food>.food_container{
  position: relative;
  align-items: center;
  margin: 90px;
}

.scr_fast_food>.food_container>.scr_food>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 1200px;
  height: 60px;
  background-color: rgb(188, 189, 189);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 0 auto;
  padding: 0;
  position: relative;
  color: #000000;
}

.scr_fast_food>.food_container>.scr_food>ul>li{
  font-size: 25px;
  padding-top: 15px;
  border-right: 1px solid black;
  width: 25%;
}
.scr_fast_food>.food_container>.f_food {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  text-align: center;
  align-items: center;
  width: 1200px;
  position: relative;
  margin: 0 auto;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.scr_fast_food>.food_container>.f_food img {
  width: 300px;
  height:250px;
  object-fit: cover;
  padding: 40px 0px 0px 0px;
  margin-right: 0px;
}

.main_li.active {
  background-color: white;
  color: #F15A29;
}


/*styling feedback and about menu*/

.feedback {
  background-color: white;
  padding: 80px;
  position: relative;
  height: 380px;
  font-size: 18px;
}
.feedback>.feed_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 8px -2px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.feedback>.feed_container>.customer{
  width: 45%;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-right: 1px solid black;
}
.feedback>.feed_container>.customer>.feed_img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  object-fit: cover;
}
.feedback>.feed_container>.customer>.feed_img img{
  object-fit: none;
  padding: 5px;
}
.feedback>.feed_container>.about_menu{
  width: 28%;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-left: 1px solid black;
}
.arrow-feed{
  border: solid #F15A29;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.feedback>.feed_container h3{
  color: #F15A29;
}
.feedback>.feed_container>.about_menu p{
  text-align: center;
}
/*subcribe*/

.subscribe {
  background-image: url("./images/backgrounds/subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  text-align: center;
  color: white;
  font-size: 20px;
  position: relative;
}
.subscribe>.sub_container{
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
input[type=text]{
  color: #ffffff;
  width: 450px;
  height: 50px;
  text-align: left;
  font-size: 20px;
  margin-right: 10px;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  background-color: rgba(168, 163, 163, 0.342);
  border: none;
  border-radius: 2px;
}
.subscribe>.sub_container p{
  font-size: 30px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

input[type=button]{
  width: 230px;
  height: 55px;
  background-color: #F15A29;
  color: white;
  font-size: 20px;
  margin: 10px;
  border: none;
  border-radius: 2px;
}
::placeholder {
  color: white;
  opacity: 0.5;
}

/*footer*/
footer{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #ffffff;
}

.footer_logo{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
  position: relative;
}
.footer_logo img{
  margin-right: 10px;
}
.footer_logo> p{
  font-size: 40px;
}
footer p{
  font-size: 20px;
  letter-spacing: 1px;
  padding: 0px;
}
.social img{
  padding: 10px;
  margin: 4px 4px 20px 4px;
}
.fin_text{
  font-size: 13px;
}