*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
  text-align: center;
}

body{
  background-color: #F15A29;
  margin: 0;
}

header {
  background-image: url("./images/backgrounds/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 900px;
  width: 100%;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding-top: 120px;
  padding-left: 50px;
}

.header_content > .head_text {
  color: white;
  font-size: 45px;
  width: 700px;
  text-align: center;
  word-spacing: 13px;
  letter-spacing: 2px;
  padding-left: 70px;
  padding-left: -5px;
}
.header_content > img {
  width: 460px;
  height: 460px;
}

/* takes foodtop section */
.takes {
  width: 100%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  font-size: 25px;
  text-transform: capitalize;
  color: white;
}
.takes>.f-top p{
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-top: -5px;
  margin-left: 5px;
}

.takes > .two-img{
  background-color: #F15A29;
  display: flex;
  flex-direction: column;
}
.takes > .two-img >.happy{
  background-color: white;
  color: black;
  height: 50%;
}
.takes > .two-img>.party{
  background-color: #F15A29;
  height: 50%;
}
.takes > .breako{
  background-image: url("./images/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.takes > .lunch{
  background-image: url("./images/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.takes > .dinner{
  background-image: url("./images/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#row{
  float: left;
  width: 25%;
  height: 300px;
}

.takes::after{
  content: "";
  display: table;
  clear: both;
}

/* food section */
.food_desc {
  background-color: white;
  text-align: center;
}

.food_desc > .desc {
  margin: 90px 10px 10px 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.food_desc > .desc >.col_image {
  border: 15px solid white;
  box-shadow: 0px 0px 10px 1px;
  width: 480px;
  height: 390px;
}
.food_desc > .desc >.col_image img {
  object-fit: cover;
  margin-left: -10px;
}

.food_desc > .desc >.col_image img#fast-food2 {
  margin-top: -4px;
  margin-bottom: -4px;

}
.food_desc>.desc>.p_desc {
  width: 400px;
  text-align: left;
  padding: 0px 50px 50px 40px;
  margin-left: 25px;
  font-size: 19px;
}

.food_desc>.desc>.p_desc h3 {
  font-size: 28px;
}
.food_desc>.desc>.p_desc h4 {
  font-size: 20px;
}
.food_desc>.desc>.p_desc p {
  margin-bottom: 30px;
}
.food_desc>.desc>.p_desc a {
  border: 1px solid #F15A29;
  border-radius: 5px;
  color: #F15A29;
  padding: 20px;
  text-decoration: none;
  margin-top: 6px;
}
.food_desc>.desc>.p_desc a:hover {
  border: 1px solid #F15A29;
  background-color: #F15A29;
  color: white;
  padding: 20px;
  text-decoration: none;
}

/* for drinks */
#desc_rev{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 90px;
}
.food_desc > .desc >.row_image img {
  object-fit: cover;
  margin-left: -10px;
  width: 350px;
}

.food_desc > .desc >.row_image {
  border: 15px solid white;
  box-shadow: 0px 0px 10px 1px;
  width: 480px;
  height: 390px;
  display: flex;
  flex-direction: row;
}

.food_desc>.desc>#p_desc_rev {
  text-align: right;
}

/*types of foods*/
.scr_fast_food{
  background-image: url("./images/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 20px;
  color: #F15A29;
}
.scr_fast_food>.food_container{
  position: relative;
  align-items: center;
  margin: 90px;
}

.scr_fast_food>.food_container>.scr_food>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 1100px;
  height: 60px;
  background-color: rgb(188, 189, 189);
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.scr_fast_food>.food_container>.scr_food>ul>li{
  font-size: 25px;
  padding-top: 15px;
  border-right: 1px solid black;
  width: 25%;
}
.scr_fast_food>.food_container>.f_food {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  text-align: center;
  align-items: center;
  width: 1100px;
  position: relative;
  margin: 0 auto;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.scr_fast_food>.food_container>.f_food img {
  width: 300px;
  height:250px;
  object-fit: cover;
  padding: 40px 20px 0px 15px;
}

.main_li.active {
  background-color: white;
  border-right: 1px solid #000000;
}

/*styling feedback and about menu*/

.feedback {
  background-color: white;
  padding: 80px;
}
.feedback>.feed_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 8px -2px;
  border-radius: 5px;
}
.feedback>.feed_container>.customer{
  width: 40%;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-right: 1px solid black;
}
.feedback>.feed_container>.about_menu{
  width: 25%;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-left: 1px solid black;
}

/*subcribe*/

.subscribe {
  background-image: url("./images/backgrounds/subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  text-align: center;
  color: white;
  font-size: 20px;
  position: relative;
}
.subscribe>.sub_container{
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
input[type=text]{
  width: 450px;
  height: 50px;
  text-align: left;
  font-size: 20px;
  margin-right: 10px;
  padding: 0px 10px 0px 10px;
}
.subscribe>.sub_container p{
  font-size: 30px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

input[type=button]{
  width: 230px;
  height: 55px;
  background-color: #F15A29;
  color: white;
  font-size: 20px;
  margin: 10px;
}



/*footer*/
footer{

}